.dashboardContainer {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: row;
}

.dashboardContainer .main {
    width: 100%;
    max-height: 100vh;

    margin: 10px 20px;
}

.dashboardContainer .main .content {
    display: flex;
    flex-direction: column;
    gap: 15px;

    width: 100%;
    max-height: 85vh;

    margin: 10px 0px;
}

.dashboardContainer .main .content .infoBoxes {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.dashboardContainer .main .content .infoBoxes .box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: #fcfcfc;
    box-shadow: 0 5px 10px rgba(0, 15, 27, 0.1);

    width: 25%;
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #0382f2;
}

.dashboardContainer .main .content .infoBoxes .box i {
    font-size: 25px;
    color: #2196fc;
}

.dashboardContainer .main .content .infoBoxes .box .textArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 16px;
    color: #141f28;
    text-align: center;
}

.dashboardContainer .main .content .infoBoxes .box .textArea .title {
    font-size: 18px;
    font-weight: 500;
}